@media (max-width: 768px) {
    nav ul {
        list-style: none;
        display: grid;
    }

    nav li {
        text-align: center;
    }

    nav a {
        color: #fff;
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }

    nav a:hover {
        background-color: #fff;
        color: #333;
    }

    .maing {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
    }

    .item {
        background-color: #eee;
    }

    .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    footer {
        text-align: center;
        padding: 1rem;
        background-image: linear-gradient(to top, rgb(255, 255, 255), transparent);
    }

    nav img {
        max-height: 90px;
    }
}

@media (min-width: 1024px) {
    nav ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    nav li {
        text-align: center;
    }

    nav a {
        color: #fff;
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }

    nav a:hover {
        background-color: #b4b2b2;
        color: #333;
    }

    .maing {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
    }

    .item {
        background-color: #eee;
    }

    .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    footer {
        text-align: center;
        padding: 1rem;
        background-image: linear-gradient(to top, rgb(255, 255, 255), transparent);

    }

    nav img {
        max-height: 90px;
    }
}